<div class="container">

    <div class="starter-template">
        <h1>NoMonday Front-Starter</h1>
        <p class="lead">Aplikacja startowa do tworzenia statycznych widoków HTML</p>
        <p class="lead">Dołączone biblioteki:</p>
        <ul class="list-inline">
            <li class="list-inline-item">jQuery 3.3.1,</li>
            <li class="list-inline-item">Bootstrap 4.0.0,</li>
            <li class="list-inline-item">OwlCarousel 2.3.3,</li>
            <li class="list-inline-item">Fancybox 3.3.5</li>
        </ul>
    </div>

</div>