/*BOOTSTRAP*/
@import './bootstrap/bootstrap';

/*LIBS*/
@import './owl-carousel/owl.carousel';
@import './fancybox/jquery.fancybox.min';


body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}