<!doctype html>
<html lang="pl">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <link rel="shortcut icon" href="/layout/default/dist/gfx/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="/layout/default/dist/css/style.css">

        <title>{{title}}</title>
    </head>
    <body>

        {{{body}}}

        <script src="/layout/default/dist/js/app.js" type="text/javascript"></script>
    </body>
</html>
